{% extends 'base.html' %}
{% block title %}Lista de Asignaciones{% endblock %}
{% load static %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Asignaciones</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                <li class="breadcrumb-item">Asignaciones</li>
                <li class="breadcrumb-item active">Lista</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Asignaciones Activas</h5>
                        <div style="text-align: right; margin-bottom: 20px;">
                            <a href="{% url 'home:register_assignment' %}" class="btn btn-primary">Registrar nueva asignación</a>
                        </div> 
                        <div class="table-responsive">         
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Equipo</th>
                                    <th>Departamento</th>
                                    <th>Fecha de Asignación</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assignment in active_assignments %}
                                <tr>
                                    <td>{{ assignment.id_assignment }}</td>
                                    <td>{{ assignment.id_equipment }}</td>
                                    <td>{{ assignment.id_department }}</td>
                                    <td>{{ assignment.assignment_date }}</td>
                                    <td>{{ assignment.get_status_display }}</td>
                                    <td>
                                        {% if assignment.id_assignment %}
                                            <a href="{% url 'home:return_equipment' assignment.id_assignment %}" class="btn btn-danger">Devolver</a>
                                        {% else %}
                                            <span class="text-danger">ID no válido</span>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Asignaciones Históricas</h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Equipo</th>
                                        <th>Departamento</th>
                                        <th>Estado</th>
                                        <th>Fecha de Asignación</th>
                                        <th>Fecha de Devolución</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for assignment in historical_assignments %}
                                    <tr>
                                        <td>{{ assignment.id_assignment }}</td>
                                        <td>{{ assignment.id_equipment }}</td>
                                        <td>{{ assignment.id_department }}</td>
                                        <td>{{ assignment.get_status_display }}</td>
                                        <td>{{ assignment.assignment_date }}</td>
                                        <td>{{ assignment.return_date }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    function returnEquipment(assignmentId) {
        fetch(`/assignments/return/${assignmentId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                location.reload();
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
